* {
  box-sizing: border-box;
}

:root {
  --primary: #f4941c;
  --primary-light: rgb(244, 240, 240);
  --primary-dark: #000;
  --neutral-light: ;
  --neutral-dark: ;
  --secondary: ;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app{
  height: 100vh;
}


/* MEDIA QUERIES */
/* small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  
}

/* medium devices (tablets, less than 992 px) */
@media (max-width: 992px) {

}
